/* common function */
body{
    background-color: #efe7e3;
}
.frame{
    display: flex;
    flex-direction: column;
}

/* navigator */
.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:30px 140px;
}

li{
    display: inline;
    align-self:center;
    margin-left: 15px;
}

ul{
    margin: 0;
}

.site-name{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #c2b4ab;
}

.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: 0.3s;
}

/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
}

.contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;

    color: black;
    border-top:1px solid #c2b4ab;
    margin-bottom: 20px;
}

.links>a{
    font-family: 'Montserrat', sans-serif;
}

.footer>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-top: 5px;

}


/* Home.html (start page) */
/* dashboard */
.dashboard{
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;
}

.korean-comment{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.sample{
    background-color: pink;
}

.sample:hover{
    background-color: transparent;
    color: white;
    -webkit-text-stroke: 1px black;
    transition: none;
}

.highlight{
    color: ivory;
    -webkit-text-stroke: 1px black;
}

.highlight:hover{
    background-color: pink;
    color: black;
    transition: none;
}

.type1:hover{
    background-color: yellowgreen;
}
.type2:hover{
    background-color: skyblue;
}
.type3:hover{
    background-color: orange;
}

.english-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: italic;
    

    letter-spacing: 0.3px;
}

/* Recent play */
.recent-menu{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #c2b4ab;

    text-align: right;
    margin-right: 140px;
}

/* info.html */
/* introboard-section */
.introboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.korean-comment1{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.sample1{
    background-color: pink;
    margin-left: 160px;
}

.sample1:hover{
    color: black;
    transition: none;
}

.highlight1{
    color: black;
}

.highlight1:hover{
    background-color: pink;
    color: black;
    transition: none;
}

/* profile-section */
/* gomdol */
.profile-section-gomdol{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    margin-bottom: 150px;
    margin-left: 350px;
}
.introduction-gomdol>h2{
    margin: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.introduction-gomdol>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin-left: 30px;
}


/* siro */
.profile-section-siro{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    margin-left: 350px;
    
}

.introduction-siro>h2{
    margin: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.introduction-siro>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin-left: 30px;
}
